<h1>Listing new_statuses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @new_statuses.each do |new_status| %>
  <tr>
    <td><%= new_status.name %></td>
    <td><%= new_status.content %></td>
    <td><%= link_to 'Show', new_status %></td>
    <td><%= link_to 'Edit', edit_new_status_path(new_status) %></td>
    <td><%= link_to 'Destroy', new_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New New status', new_new_status_path %>
