<div class="page-header">
<h1>All of the Status</h1>
</div>

<%= link_to "Post a new Status", new_new_status_path, class: "btn btn-success" %>

<% @new_statuses.each do |new_status| %>
<div class="statuses">
	<strong><%= new_status.name %></strong>
	<p> <%= new_status.content %></p>
	<div class="meta">
		<%= link_to time_ago_in_words(new_status.created_at) + " ago", new_status %> |
		<span class="admin">
			<%= link_to "Edit", edit_new_status_path(new_status) %> |
			<%= link_to "Delete", new_status, method: :delete, data: { confirm: "Are you sure you want to delete this status?" }%>
		</span>
	<div>
</div>
<% end %>
